In [1]:
# var: radidus  var: pi=3.14
# form# wap take the radidus of a circle calculate area of the circle
uale: pi*radius*radius
# print the answers using f string and format

# wap take the breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

# wap take the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formuale

# wap take the length and breadth of a rectangle calculate area
# var1: length  var2: breadth
# formulae: length * breadth

NameError: name 'pi' is not defined

In [2]:
# wap take the radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

In [1]:
radius=20
pi=3.14
area=pi*radius*radius
print(f"the are of circle is : {area}")

the are of circle is : 1256.0

In [2]:
# wap take the breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

breadth=20
height=40
area=0.5*breadth*height
print(f"the area of Right angle triangle is : {area}")

the area of Right angle triangle is : 400.0

In [3]:
# wap take the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formuale
bill_amount=1000
tip_amount=200
total_bill=bill_amount+tip_amount
total_bill

1200

In [4]:
# wap take the length and breadth of a rectangle calculate area
# var1: length  var2: breadth
# formulae: length * breadth
breadth=20
height=40
area=breadth*height
print(f"the area of rectangle is : {area}")

the area of rectangle is : 800

In [5]:
radius=20
pi=3.14

breadth=20
height=40

bill_amount=1000
tip_amount=200

**input**

- in above we provided the value

- input is the inbuilt function

- using input the user can provide any value

In [6]:
input

**note:whenerver if we see bound method or function which indicates we forgot the brackets**

In [8]:
input()

 100

'100'

In [10]:
input()

 python

'python'

In [11]:
a=100
type(a)

int

In [12]:
b=input()

 100

In [13]:
b

'100'

In [14]:
name="python"
name

'python'

In [16]:
name=input()

 naresh it

In [17]:
name

'naresh it'

In [18]:
n1=input()  # n1='100'
n2=input()  # n2= '200'
n3=input() # n3='300'

 100
 200
 300

In [19]:
n1
n2
n3

'300'

In [20]:
n1,n2,n3

('100', '200', '300')

In [22]:
n1=input("enter the number1:")
n2=input("enter the number2:")


#n1='100'
#n2='200'

enter the number1: 100
enter the number2: 200

In [23]:
n1=input("enter the number1:") # n1='500'
n2=input("enter the number2:") # n2='600'
n1+n2 # '500'+'600'='500600'

enter the number1: 500
enter the number2: 600

'500600'

**input values by default string type**

In [24]:
'100'+'200'

'100200'

In [25]:
100+200

300

In [26]:
str1='apple'
str2='is'
str3='fruite'
str1+str2+str3

'appleisfruite'

In [28]:
str1=input("enter a string1:")
str2=input("enter a string2:")
str3=input("enter a string3:")
str1+str2+str3

enter a string1: apple
enter a string2:    is
enter a string3:     fruit

'apple   is    fruit'

In [29]:
n1=int(input("enter the number1:")) # n1=int('500')=500
n2=int(input("enter the number2:")) # n2=int('600')=600
n1+n2 # 500+600=1100

enter the number1: 500
enter the number2: 600

1100

In [30]:

n1=int('500')
n2=int('600')
n1+n2

1100

In [31]:
n1=input("enter the number1:") # n1='500'
n2=input("enter the number2:") # n2='600'
int(n1)+int(n2) # int('500')+int('600')=500+600=1100

enter the number1: 500
enter the number2: 600

1100

In [32]:
n1=int(input("enter the number1:")) # n1=int('500')=500
n2=int(input("enter the number2:")) # n2=int('600')=600
n1+n2 # 500+600=1100

n1=input("enter the number1:") # n1='500'
n2=input("enter the number2:") # n2='600'
int(n1)+int(n2) # int('500')+int('600')=500+600=1100

enter the number1: 500
enter the number2: 600
enter the number1: 500
enter the number2: 600

1100

In [35]:
n1=float(input("enter the number1:")) 
n2=int(input("enter the number2:")) 
n1+n2

enter the number1: 20.456
enter the number2: 67

87.456

**eval**


- eval means evaluate

- it is related to math family

- which means it works only number represnt as strings

- it will not works on english letters

- eval will convert the repective data type which is user enter

- if user enter 10 in quotes it will convert into 10

- if user enter 10.5 in quotes it will conver into 10.5

In [36]:
int('10')  # 10
int('10.5') # error

float('10') # 10.0 
float('10.5') # 10.5

ValueError: invalid literal for int() with base 10: '10.5'

In [37]:
eval('10'),eval('10.5')

(10, 10.5)

In [38]:
n1=eval(input("enter the number1:")) 
n2=eval(input("enter the number2:")) 
n1+n2

enter the number1: 10.56
enter the number2: 56.89

67.45

In [ ]:
# 1)wap ask the user enter 3 numbers n1,n2,n3 from ketboard
# calculate average

# 2)wap ask the user enter name age city
# print my name is python im 10 years old and came from hyd

# 3)wap ask the user to enter radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

# 4)wap ask the user enter breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

# 5)wap ask the user the bill amount and tip amount
#   calculate total bill
#   var1: bill amount var2: tip amount
#   formuale

# 6)wap ask the user the bill amount and tip percentage
#    take tip percentage as 10
#   calculate total bill= bill amount+ bill amount*tip per/100
#   var1: bill amount var2: tip amount
#    formuale

# 7)wap ask the length and breadth of a rectangle calculate area
#   var1: length  var2: breadth
#   formulae: length * breadth

# 8) wap ask the user take the radius and calculate volume of sphere
#   formulae: pi*r**3(pi*r*r*r)

# 9) wap ask the user enter amount in dollars convert into rupees
#     1$=85rs

# 10)wap ask the user enter weight in kgs convert into pounds
#    1kg= 2.2pounds

- strings or english does not require eval

- avg= eval(n1+n2+n3)