**Functions with arguments**

- how many variables are there inside the function

- in above addition function 3 variables are there: n1,n2,add
    - how many input variable are there

- input variables means the variables access the values from user as input
      - how many output variables are there

- output variables means the variable created becuse of some operations: add
 - **Dont touch the output variable**

In [3]:
def addition1(n1,n2):
    print('n1:',n1)
    print('n2:',n2)
    add=n1+n2
    print(f'the addition of{n1}and{n2} is {add}')
addition1(12,13)

n1: 12
n2: 13
the addition of12and13 is 25

In [4]:
addition1(500) # user have missing arguments

TypeError: addition1() missing 1 required positional argument: 'n2'

- in above function the tip_per is fixed as 20
- this is called default arguments
- while calling the function no need to provide tip_per again
- if you provide again the value wikll be change

In [1]:
# default argument

import math
def AMOUNT(bill_amount,tip_amount=20):
    try:
        print('bill_amount:',bill_amount) 
        print('tip_amount:',tip_amount)
        total=bill_amount+(bill_amount*tip_amount/100)
        print(f" the bill amount is {bill_amount} and tip is {tip_amount}, hence percentage of total bill amount is {total}")
        print("the  bill_amountis {} and tip_amount is {}total bill amount is{}".format(bill_amount,tip_amount,total))
    except Exception as e:
        print(e)

AMOUNT(2000)

bill_amount: 2000
tip_amount: 20
 the bill amount is 2000 and tip is 20, hence percentage of total bill amount is 2400.0
the  bill_amountis 2000 and tip_amount is 20total bill amount is2400.0

In [2]:
import math
def AMOUNT(bill_amount,tip_amount=20):
    try:
        print('bill_amount:',bill_amount) 
        print('tip_amount:',tip_amount)
        total=bill_amount+(bill_amount*tip_amount/100)
        print(f" the bill amount is {bill_amount} and tip is {tip_amount}, hence percentage of total bill amount is {total}")
        print("the  bill_amountis {} and tip_amount is {}total bill amount is{}".format(bill_amount,tip_amount,total))
    except Exception as e:
        print(e)

AMOUNT(2000,30)
# value will be change

bill_amount: 2000
tip_amount: 30
 the bill amount is 2000 and tip is 30, hence percentage of total bill amount is 2600.0
the  bill_amountis 2000 and tip_amount is 30total bill amount is2600.0

In [4]:
def AVG2(n1,n2,n3=30):
    try:
        print('n1:',n1)
        print('n2:',n2)
        print('n3:',n3)
        avg=(n1+n2+n3)/3
        avg1=round(avg,2)
        print(f'thezverage of{n1},{n2}and{n3} is: {avg1}')
    except Exception as e:
        print(e)
AVG2(200,300)

n1: 200
n2: 300
n3: 30
thezverage of200,300and30 is: 176.67

In [5]:
def AVG2(n1,n2=40,n3):
    try:
        print('n1:',n1)
        print('n2:',n2)
        print('n3:',n3)
        avg=(n1+n2+n3)/3
        avg1=round(avg,2)
        print(f'thezverage of{n1},{n2}and{n3} is: {avg1}')
    except Exception as e:
        print(e)
AVG2(200,300)

SyntaxError: parameter without a default follows parameter with a default (4040189680.py, line 1)

**note: Default arguments always at last**

In [8]:
def AVG2(n1,n3,n2=30):
    try:
        print('n1:',n1)
        print('n2:',n2)
        print('n3:',n3)
        avg=(n1+n2+n3)/3
        avg1=round(avg,2)
        print(f'thezverage of{n1},{n2}and{n3} is: {avg1}')
    except Exception as e:
        print(e)
AVG2(200,300)

n1: 200
n2: 30
n3: 300
thezverage of200,30and300 is: 176.67

In [ ]:
n1,n2,n3=100 #w
n1,n2=100,n3 #f
n1=100,n2,n3 #f
n1,n2=100,n3=100 #w
n1=100,n2,n3=100 #f
n1=100,n2=100,n3 #f
n1=100,n2=100,n3=100 #

- Function with out arguments

- function with arguments

- function with default arguments

In [ ]:
def tax_cal():
    salary=eval(input('enter the salary:'))
    tax_par=eval(input('enter the tax:'))
    tax_pay=salary*tax_par/100
    print(tax_per)
tax_cal()

print("function with arguments")
def tax_cal1(salary,tax_par):
    tax_pay=salary*tax_per/100
    print(tax_pey)

**analogy with the package**

In [ ]:
random()
tax_cal()
randint()
tax_cal1()

In [2]:
complex() #real and imagenary r=0 imag=0 0+0j==0j
complex(3,4)# r=3 imag=4  3+4j
complex(3)  # r=3 imag=0  3+0j

(3+0j)

In [3]:
complex() #real and imagenary r=0 imag=0 0+0j==0j

0j

In [4]:
complex(3,4)# r=3 imag=4  3+4j

(3+4j)

 - now onwords whenever you see any package 
- always do shift+tab inside the brackets
- with or without or default

In [5]:
def add(a,b,c):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b}and {c}is :{summ}') # summ is keyword
add(100,200,300)

a: 100
b: 200
c: 300
the summation of 100,200and 300is :600

**case-1**

In [6]:
def add(a,b,c=300):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b}and {c}is :{summ}') # summ is keyword
add(100,200)

a: 100
b: 200
c: 300
the summation of 100,200and 300is :600

**case-2**

In [7]:
def add(a,b,c=400):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b}and {c}is :{summ}') # summ is keyword
add(100,200,600)

a: 100
b: 200
c: 600
the summation of 100,200and 600is :900

- in above case we already provided default vaalue c=400
- but while we call the function c value become=600
- step-1: Define the function: while define what is the value 400
- step-2: cal the function: while call the function what is the value 600
- step-3: Running the function: while running what is the value 600

In [8]:
def add(a,b,c=400):    #1st
    c=1000       #3rd
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b}and {c}is :{summ}') # summ is keyword
add(100,200,600) #2nd

# while define c=400
# while calling c=600
# while running c=1000

a: 100
b: 200
c: 1000
the summation of 100,200and 1000is :1300

In [9]:
c=3000
def add(a,b):    #1stabs
    
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ=a+b+c
    print(f'the summation of {a},{b}and {c}is :{summ}') # summ is keyword

add(100,200) #2nd

a: 100
b: 200
c: 600
the summation of 100,200and 600is :900

** global variable vs local variable**

- the variables outside the function is called as **Global variable**
    - Global variable can use anywhere
    - global variable can  be use inside the functions also outside the functions

- the variables inside the function is called as **local variable**
   - local variables can be use onlu inside function
   - local variables can not be use outside the function

In [10]:

def add(a,b): #1stabs
    n1=100
    n2=200
   
    summ=n1+n2
    print(f'the summation of {n1},{n2}and is :{summ}') # summ is keyword

add(100,200) #2nd

the summation of 100,200and is :300

In [11]:
n1

NameError: name 'n1' is not defined

In [16]:

def addition(): #1stabs 
    n1=100
    n2=200
    summ=n1+n2
    print(f'the summation of {n1},{n2}and is :{summ}') # summ is keyword

addition() #2nd

the summation of 100,200and is :300

In [17]:
n1=100
n2=200

def addition(): #1stabs 
    summ=n1+n2
    print(f'the summation of {n1},{n2}and is :{summ}') # summ is keyword

addition() #2nd

the summation of 100,200and is :300

**how to conver local variable to global variable**

- if we want to use summ variable outside the function
- then intialise summ as global also using **global** keyword

In [18]:
n1=100
n2=200

def addition(): #1stabs  
    global summ  # inside the summ to express a global variable
    summ=n1+n2
    print(f'the summation of {n1},{n2}and is :{summ}') # summ is keyword

addition() #2nd

the summation of 100,200and is :300

In [19]:
summ

300

**unbound local error**

- in below example s is not intialised
- we might think name error will come
- but inside function we will get **unbound local error**

In [20]:
s=0

def add1():
    n1=100
    s=s+n1
    print(s)
add1()

UnboundLocalError: cannot access local variable 's' where it is not associated with a value

In [21]:
s=0

def add1():
    global s1
    n1=100
    s1=s+n1
    print(s1)
add1()

100

In [22]:
s1

100

In [23]:
def add1():
 
    n1=100
    s1=summ1+n1
    print(s1)
add1()

NameError: name 'summ1' is not defined

In [24]:
def add1():
 
    n1=100
    summ1=summ1+n1
    print(s1)
add1()

UnboundLocalError: cannot access local variable 'summ1' where it is not associated with a value

In [ ]:
def add1():
 
    n1=100
    summ1=summ1+n1
    print(s1)
add1() #name error
#############################################
def add1():
 
    n1=100
    summ1=summ1+n1
    print(s1)
add1()
#################################################
def add1():
 
    n1=100
    summ1=summ1+n1
    print(s1)
add1()

In [26]:
def add3():
 
    n1=100
    summ2=100
    summ2=summ2+n1
    print(summ2)
add3()

200

In [30]:
def avg(a,b,c):
    ADD=a+b+c
    AVG1=ADD/3
    print(ADD,AVG1)
avg(10,20,39)

69 23.0

In [32]:
def avg(a,b,c):
    global ADD,AVG1
    ADD=a+b+c
    AVG1=ADD/3
    print(ADD,AVG1)
avg(10,20,39)

69 23.0

In [33]:
ADD

69

In [35]:
AVG1

23.0

In [1]:
a=10
b=20
a,b=b,a
print(a)
print(b)

20
10

In [12]:
# wap ask the user 

def num1(numm=10):
    global num1
    if numm % 2 == 0:
        print('evan num')
    else:
        print('odd num')
value=num1(10)

evan num

**parameters vs variable**

- parameter also called as Arguments
- this is always inside the function brackets
- variables either outside the function or inside the function

**return statement**

- return means function is giving something
- we know that local variables can not use outside the function
- in order to use local variables outside the function, we have two methods
   - global
   - return

In [22]:
def add():
    a=10
    b=20
    c=a+b
    return(a,c)
c=add()

In [23]:
c

(10, 30)

In [15]:
value=10,20

In [16]:
value

(10, 20)

In [17]:
value1,value2=10,20

In [20]:
value1,value2

(10, 20)

In [21]:
value1,value2=10

TypeError: cannot unpack non-iterable int object

In [26]:
def avg(a,b,c):
    summ=a+b+c
    avg1=summ/3
    return(summ,avg1)
summ,avg1=avg(10,20,30)

In [27]:
summ,avg1

(60, 20.0)

In [37]:

def num2():
    numm=eval(input('enter any number:'))
   
    if numm % 2 == 0:
        return(numm)
    else:   
        return(numm)
       
numm=num2()

enter any number: 15

In [38]:
numm

15

In [47]:
def even_odd():
    num2=eval(input('enter the num:'))
    if num2%2==0:
        val=10
        print(f'{num2}is even')
        return(num2+10)
    else:
        val=20
        print(f'{num2}is odd')
        return(num2+10)
output=even_odd()
print(output)

enter the num: 12

12is even
22

**function in function**

In [41]:
def greet1():
    print('good morning')
def greet2():
    print('good nyt')

greet1()
greet2()

good morning
good nyt

In [42]:
def greet1():
    print('good morning')
def greet2():
    print('good nyt')
    greet1()
greet2()

good nyt
good morning

In [44]:
def greet11():
    print('good morning')
    greet22()
def greet22():
    print('good nyt')
greet11()

good morning
good nyt

In [49]:
def greet1():
    print('good morning')
    greet2()
greet1()

zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz

good morning
good nyt

In [ ]:
def greet11():
    print('good morning')
    greet22()
def greet22():
    print('good nyt')
greet11() #infinet loop

In [ ]:
0def greet3():
    print('good afyternoon')
    greet3()

In [51]:
def add(n):
    if n==0:
        return(0)
    else:
        return(n,add(n-1))
add(5)

(5, (4, (3, (2, (1, 0)))))

In [61]:
# Q1) factorial recurtion 5!=5*4*3*2*1*
# Q2) calculator
# 1: create 4 functions
# def add(a,b):
#   return(a+b)
# def mul
# def div
# def sub
# print('enter 1 for add 2 sub soon')

def add():
    a=12
    b=13
    return(a+b)
add()

def mul():
    a=12
    b=13
    return(a*b)
mul()

def div():
    a=12
    b=13
    return(a/b)
div()

def sub():
    a=12
    b=13
    return(a-b)
sub()
def main():
    option=eval(input('enter b/w 1 to 4'))
    if option==1:
        a=12
        b=13
        return(a+b)
    elif option==2:
        a=12
        b=13
        return(a-b)
    elif option==3:
        a=12
        b=13
        return(a*b)
    elif option==4:
        a=12
        b=13
        return(a/b)

main()

enter b/w 1 to 4 2

-1

In [60]:
# Q1) factorial recurtion 5!=5*4*3*2*1*

def fact(n1):
    if n1==0:
        return(1)
    else:
        return(n1*fact(n1-1))
fact(5)

120

In [62]:
# diffrent type code
def main():
    option=eval(input('enter b/w 1 to 4'))
    if option==1:
        a=12
        b=13
        print('addition of  a,b is:',a+b)
        return(a+b)
    elif option==2:
        a=12
        b=13
        print('subtraction of  a,b is:',a-b)
        return(a-b)
    elif option==3:
        a=12
        b=13
        print('multiplication of  a,b is:',a*b)
        return(a*b)
    elif option==4:
        a=12
        b=13
        print('division of  a,b is:',a/b)
        return(a/b)

main()

enter b/w 1 to 4 3

multiplication of  a,b is: 156

156