## List comprehension
- list comprehension a way to write list operations in a single line
- when we apply for loop and if-else conditional statements then the code complation becomes slow
- which means it takes much time
- in order to avoid the time complexity we will use list comprehension 
- List comprehension is a single line code

**case-1:only for loop**

In [1]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<code should wriite here>]
# inside code no need of append 
list1=[<output var><for loop>]

In [2]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# Q1) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

input=['hyd','bengaluru','pune','mumbai']
output = [i.capitalize() for i in input]
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [2]:
# Q2) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']
input=['hyd','bengaluru','pune','mumbai']
output=[i.upper() for i in input]
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [3]:
#Q3) input=['hyd','bengaluru','pune','mumbai']
 # multiply the indexes with 10

   # for i in input:
   # print(input.index(i)*10)
output=[input.index(i)*10 for i in input]
output

[0, 10, 20, 30]

In [3]:
#Q4)input=['hyd','bengaluru','pune','mumbai']

input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input]
sum(output)

60

In [4]:
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

**walrus operator**

In [8]:
[summ=summ+i for i in range(1,11)]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2663275567.py, line 1)

In [9]:
summ=0
[summ:=summ+i for i in range(1,11)]  # (:) is nothing but warlus operator

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

- := is nothing but warlus operator

In [10]:
summ=0
[summ:=summ+i for i in range(1,11)][-1]

55

**case-2) for loop and if**

In [11]:
# even number
for i in range(1,10):
    if i%2==0:
        print(f'even:{i}')

even:2
even:4
even:6
even:8

In [12]:
even_list=[]
for i in range(1,10):
    if i%2==0:
        even_list.append(f'even:{i}')
even_list

['even:2', 'even:4', 'even:6', 'even:8']

In [17]:

even_list=[f'even:{i}' for i in range(1,10) if i%2==0]
even_list

['even:2', 'even:4', 'even:6', 'even:8']

In [ ]:
# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]
input=['hyd','ben#galuru','pune','mu#mbai']
output = []
for i in input:
    if '#' not in i:
        output.append(i)
print(output)

In [1]:
input=['hyd','ben#galuru','pune','mu#mbai']
output=[i for i in input if '#' not in i]
output

['hyd', 'pune']

In [5]:
input=['hyd','ben#galuru','pune','mu#mbai']
output = [i for i in input if '#' in i]
output

['ben#galuru', 'mu#mbai']

In [8]:
even_list=[]
for i in range(1,10):
    if i%2==0:
        even_list.append(f'even:{i}')
    else:
        even_list.append(f'not even:{i}')
even_list

['not even:1',
 'even:2',
 'not even:3',
 'even:4',
 'not even:5',
 'even:6',
 'not even:7',
 'even:8',
 'not even:9']

In [10]:
even_list=[f'even:{i}' if i%2==0 else f'not even:{i}' for i in range(1,10)]
even_list

['not even:1',
 'even:2',
 'not even:3',
 'even:4',
 'not even:5',
 'even:6',
 'not even:7',
 'even:8',
 'not even:9']

**case-4: for-if-elif-else**
- in list comprehension we dont have **elif** representatoion
- elif also represent as ***else+if**
- in elif
- else elif_output elif_condition

case-4: for-if-elif-else:
[<if out><if cond>else<elif out><elif con>else<else out><for loop>]
** note**: instead of elif term write if

In [1]:
# 85 a grade 60-85 b grade less than 60 c grade
for i in range(40,100):
    if i>85:
        print(f'{i} a grade')
    elif i>60:
        print(f'{i} b grade')
    else:
        print(f'{i} c grade')
        break

40 c grade

In [ ]:

l=[45,55,65,75,85,95]
for i in l:
    if i>85:
        print(f'{i} a grade')
    elif i>60:
        print(f'{i} b grade')
    else:
        print(f'{i} c grade')

In [ ]:
case-4: for-if-elif-else:
[<if out><if cond>else<elif out><elif con>else<else out><for loop>]
** note**: instead of elif term write if


case-1 for loop: [<output> <for loop>]
case-2: for-if: [<output> <for loop> <if condi>]
case-3: for-if-else: [<if out> <if cond> else <else out> <for loop>]
case-4: for-if-elif-else:

[<if out> <if cond> else <elif out> <elif cond> else <else out> <for loop>]

In [1]:
#l=[45,55,65,75,85,95]
#output=[f'{i}: a grade'if i>85 else  f'{i}: b grade' if i>60 else  f'{i}: c grade' for i in l]
#print(output)

['45: c grade', '55: c grade', '65: b grade', '75: b grade', '85: b grade', '95: a grade']

In [9]:
# list of student marks in python marks=[45,76,89,53,67,90,82,49,33,99]
#who passed(marks>=50)
#caluclate all studet grades for all students(A:85+,B:70-84,C:50-69,F:<50)
#add 5 grace,marks to students who failed(<50)
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i>=50:
        print(f'{i} passed')
    else:
        print(f'{i}not passed')

45not passed
76 passed
89 passed
53 passed
67 passed
90 passed
82 passed
49not passed
33not passed
99 passed

In [21]:
marks=[45,76,89,53,67,90,82,49,33,99]
output=[ i for i in marks if i>=50 ]
print(output)

[76, 89, 53, 67, 90, 82, 99]

In [24]:
# grades(A:85+,B:70-84,C:50-69,F:<50)
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i>=85:
        print(f'{i} A grade')
    elif i>=70:
        print(f'{i} B grade')
    elif i >=50:
        print(f'{i} C grade')
    else:
        print(f'{i} F grade')

45 F grade
76 B grade
89 A grade
53 C grade
67 C grade
90 A grade
82 B grade
49 F grade
33 F grade
99 A grade

In [26]:
marks=[45,76,89,53,67,90,82,49,33,99]
output=[f'{i}: A grade' if i>=85 else f'{i}: B grade' if i>=70
        else f'{i}: C grade' if i>=50 
        else f'{i} F grade' for i in marks]
print(output)

['45 F grade', '76: B grade', '89: A grade', '53: C grade', '67: C grade', '90: A grade', '82: B grade', '49 F grade', '33 F grade', '99: A grade']

In [27]:
for i in marks:
    if i<50:
        print(i+5)

50
54
38

In [29]:
output=[i+5 for i in marks if i<50]
output

[50, 54, 38]

In [30]:
# Q4) top 5
marks
# without using sorted or sort all the values

[45, 76, 89, 53, 67, 90, 82, 49, 33, 99]

In [32]:
marks=[45,76,89,53,67,90,82,49,33,99]
top_3=[max_val:=max(marks),marks.remove(max_val)for i in range(3)]
top_3

SyntaxError: did you forget parentheses around the comprehension target? (3462541534.py, line 2)

In [33]:
marks=[45,76,89,53,67,90,82,49,33,99]
max_val=max(marks)
for i in range(3):
    max_val=max(marks)
    print(max_val)
    marks.remove(max_val)

99
90
89

In [34]:
#find avg marks
marks=[45,76,89,53,67,90,82,49,33,99]
summ=0
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**distance b/w two points**

In [49]:
import math
l1=[10,20]
l2=[20,40]
# find the distance b/w l2 with all other points from l1
# which is the max distance give me that 
d1=l2[0]-l1[0]
d1_square=math.pow(d1,2)
d1_square
d2=l2[1]-l1[1]
d2_square=math.pow(d2,2)
d2_square
summ=d1_square+d2_square
math.sqrt(summ)

22.360679774997898

In [64]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

22.360679774997898