In [5]:
names=['ramesh','suresh','sathish']
age=[20,25,30]
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

ramesh age is 20
suresh age is 25
sathish age is 30

In [6]:
names=['ramesh','suresh','sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f'{i} age is {j}')

ramesh 20
ramesh age is 20
suresh 25
suresh age is 25
sathish 30
sathish age is 30

**Dictionary**
- in above exampls names and age both are together
- when both are together we can pair them
- this can happen using Dictionary
- Dictionary is calles as **key-values** pair
- it represents with curly braces : **{key:value}**
- ramesh and 20 years both are pair :{'ramesh':20}

In [7]:
d1={'Ramesh':20,'Sureh':25,'Sathish':30}
d1

{'Ramesh': 20, 'Sureh': 25, 'Sathish': 30}

In [8]:
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [9]:
d3=[{20:'Ramesh',25:'Suresh',30:'Sathish'}]
d3

[{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}]

In [10]:
d4=({20:'Ramesh',25:'Suresh',30:'Sathish'})
d4

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [11]:
d4={(20:'Ramesh',25:'Suresh',30:'Sathish')}
d4

SyntaxError: invalid syntax (2676584683.py, line 1)

In [12]:
d3={[20:'Ramesh',25:'Suresh',30:'Sathish']}
d3

SyntaxError: invalid syntax (2497325145.py, line 1)

In [17]:
d4={'Ramesh':20,'Ramesh':25}
d4
# if both keys are same it will take the latest value
# Dictionary kind database

{'Ramesh': 25}

In [18]:
d4={'Ramesh':20,'Ramesh':20}
d4
# dictionary does not allow duplicate

{'Ramesh': 20}

In [19]:
d4={'Ramesh':20,'suresh':20}
d4
# in dictionary keys pays vital rols
# keys can not can be duplicate but values can be duplicate

{'Ramesh': 20, 'suresh': 20}

In [20]:
d4={20:'Ramesh',20:'suresh'}
d4

{20: 'suresh'}

**list as keys fails becuase list has a mutable behaviour**

**tuple as key works beccuase tuples has immutable behaviour**

**in dictionary keys are very important**
**keys does not chnage so when we apply list is failing**

In [3]:
d12={'fruites':{'apple':20}} # works
d12 # dictionary is immutable

{'fruites': {'apple': 20}}

In [4]:
d12={{'apple':20}:'fruites'}
d12   # fail--unhashable type:'dict'

TypeError: unhashable type: 'dict'

In [14]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'cherry'}
# apply min max sum sorted reversed
min(dict1),min(dict2),min(dict3)

('Apple', 'Apple', 20)

In [11]:
# min
dict1={'Apple':20,'Banana':30,'Cherry':50}
max(dict1)

'Cherry'

In [10]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
sorted(dict1)

['Apple', 'Banana', 'Cherry']

In [12]:
dict2={'Apple':20,'apple':30}
sorted(dict2)

['Apple', 'apple']

In [9]:
dict3={20:'Apple',30:'Banana',50:'cherry'}
sorted(dict3)

[20, 30, 50]

In [13]:
dict3={20:'Apple',30:'Banana',50:'cherry'}
min(dict3)

20

In [15]:
dict3={20:'Apple',30:'Banana',50:'cherry'}
len(dict3)

3

In [16]:
list(reversed(dict1))

['Cherry', 'Banana', 'Apple']

In [17]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
'Apple' in dict1

True

In [18]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
20 in dict1

False

In [19]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
'Apple':20 in dict1

SyntaxError: illegal target for annotation (164298949.py, line 2)

In [20]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
'Apple' in dict1
'Banana' in dict1
'Cherry'in dict1
# i in dict1

True

In [21]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [22]:
for i in range(len(dict1)):
    print(i)

0
1
2

In [23]:
for i in range(0,2):
    print(i)

0
1

**index**

In [24]:
l1=[10,20,30]
l1[0]

10

In [26]:
str1='python'
str1[0]

'p'

In [27]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1[0] # Apple:20 is key error

KeyError: 0

**hoe to extract the values**
- in dictionary we have a concept key:value pair
- keys are very important
- in order to get the values we need to take keys help

In [34]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1['Apple'],dict1['Banana'],dict1['Cherry']

(20, 30, 50)

In [36]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 50

In [40]:
#names=['ramesh','suresh','sathish']
#age=[20,25,30]
names={'ramesh age is':20,'suresh age is':25,'sathish age is':30}
for i in names:
    print(i,names[i])

ramesh age is 20
suresh age is 25
sathish age is 30

In [42]:
names1=['ramesh':20,'suresh':25,'sathish':30]
for i in names1:
    value=names1[i]
    print(f'{i} age is {value}')

SyntaxError: invalid syntax (3749541679.py, line 1)

In [43]:
d={'Fruites':['Apple','Banana','Cherry']}
d['Fruites'][2]

'Cherry'

In [44]:
d={'Fruites':{'Apple':['Sweet','sour','green']}}
len(d)

1

In [45]:
d['Fruites']['Apple'][2]

'green'

In [46]:
d={'Fruites':[{'cost':[50]}]}
len(d)

1

In [47]:
d['Fruites']

[{'cost': [50]}]

In [53]:
d['Fruites'][0]['cost'][0]

50

In [1]:
d={'Fruites':['Apple'],'cost':[{'1kg':[20,30,40],'2kg':None}]}
d['cost'][0]['2kg'] # None
d['cost'][0]['1kg'][2]

40

In [56]:
d={'Fruites':{'orenge':{'nagpur':{'mh':{'king':{'shivaji':{'shambaji'}}}}}}}
len(d)
d['Fruites']['orenge']['nagpur']['mh']['king']['shivaji'] ##[0]#['shambaji']
len(d['Fruites']['orenge']['nagpur']['mh']['king']['shivaji'])
d['Fruites']['orenge']['nagpur']['mh']['king']['shivaji']
d.popitem()
d

{}

**hoe to create empty dictionary**
- Now on words focus on creation of empty list, strings and dictionary
- we will take empty list will use apppend operation
- we will take empty string will use concatenation
- we will take empty dictionary will use key:value pair concept

In [25]:
#list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [26]:
#strings
s=''
s=s+'p'
s=s+'y'
s

'py'

In [29]:
#dictionary
d={}
d['ramesh']=20
d['suresh']=30
d['sathish']=40
d

{'ramesh': 20, 'suresh': 30, 'sathish': 40}

In [30]:
d={}
d['ramesh']=20
d['suresh']=30
d['sathish']=40
#d[key]=value
#d[i]=j

{}

**how to convert list to dictionary**

In [35]:
names=['ramesh','suresh','sathish']#i
age=[20,25,30]#j
dict={}
for i,j in zip(names,age):
    dict[i]=j
dict

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

**dictionary comprehension**

- for list comprehension we written everything inside list
- for dict comprehension we should write everything inside dictionary
- list comprehension:[<output> <for loop>]
- dictionary comprehension:{i:j_<for loop>} (key:value)

In [19]:
names=['ramesh','suresh','sathish']#i
age=[20,25,30]#j   
dict={}
{i:j for i,j in zip(names,age)}

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

**mutable-immutable**
- list are mutable
- dictionary are also mutable
- strings are immutable
- tuple are immutable
- in dictionary we can change the values using keys

In [43]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d['ramesh']=30
d

{'ramesh': 30, 'suresh': 25, 'sathish': 30}

**methods**

In [45]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- clear
- copy
- keys
- values
- items

In [11]:
#-copy&clear
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
copied_d=d.copy()
print(f'{copied_d}')
d.clear()
print(f'clear dictionary:{d}')

{'ramesh': 20, 'suresh': 25, 'sathish': 30}
clear dictionary:{}

**fromkey**
- create a dictionary with different keys but same value
- formkeys will take an argument **iterable**
- try to provide an iterator i.e string,list,tuple

In [37]:
#-fromkey
keys=['ramesh', 'suresh', 'sathish']
values=0
dict1=dict1.fromkeys(keys,values)
print(f'using fromkey :{dict1}')
dict1=dict1.fromkeys(keys)
print(f'only one argument keys:{dict1}')
dict2=dict1.fromkeys(keys,'not assighned')
print(f'only one argument keys:{dict2}')

using fromkey :{'ramesh': 0, 'suresh': 0, 'sathish': 0}
only one argument keys:{'ramesh': None, 'suresh': None, 'sathish': None}
only one argument keys:{'ramesh': 'not assighned', 'suresh': 'not assighned', 'sathish': 'not assighned'}

In [43]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

**get**
- get in dictionary ,similarly analogy **list index**

In [43]:
#-get  # getting a value
marks={'ramesh':40, 'suresh':60, 'sathish':50}
print('Ramesh marks:',marks.get('ramesh'))
print('Suresh marks:',marks.get('suresh'))
print('ganesh marks:',marks.get('ganesh'))
print('ganesh marks:',marks.get('ganesh','not availble'))

Ramesh marks: 40
Suresh marks: 60
ganesh marks: None
ganesh marks: not availble

In [33]:
marks={'ramesh':40, 'suresh':60, 'sathish':50}
marks.get('ramesh')
marks

{'ramesh': 40, 'suresh': 60, 'sathish': 50}

In [35]:
marks['ramesh'] # key as an index

40

**pop**

In [48]:
#pop
marks={'ramesh':40, 'suresh':60, 'sathish':50}
removed_value=marks.pop('suresh')
print(f'Ramesh marks:{removed_value}')
print(f'updated marks:{marks}')
removed_value=marks.pop('ganesh','key not found')

print(f'trying to remove ganesh marks:{removed_value}')

Ramesh marks:60
updated marks:{'ramesh': 40, 'sathish': 50}
trying to remove ganesh marks:key not found

In [29]:
marks={'ramesh':40, 'suresh':60, 'sathish':50}
marks.pop('ramesh')
marks

{'suresh': 60, 'sathish': 50}

In [30]:
marks=['ramesh', 'suresh', 'sathish']
marks.remove('ramesh')
marks

['suresh', 'sathish']

- pop in dictionary ,simmilar anaolgy remove in list

**popitem**

In [52]:
#popitem
marks={'ramesh':40, 'suresh':60, 'sathish':50}
marks.popitem()
marks.popitem()
marks.popitem()
marks

{}

In [31]:
marks=['ramesh', 'suresh', 'sathish']
marks.pop()
marks

['ramesh', 'suresh']

- pop item in dictionary , similar analogy pop in list

**setdefault**

- suppose an alredy existed dictionary availble 
- we can update the dictionary with new key:value pair

In [72]:
#setdefault
marks={'ramesh':40, 'suresh':60, 'sathish':50}
add_marks=marks.setdefault('ramesh')
print(f'ramesh marks:{add_marks}')
add_marks=marks.setdefault('ganesh',75)
print(f'add ganesh marks:{marks}')
add_marks=marks.setdefault('kiran')
print(f'kirans marks(default none):{'add_marks'}')
add_marks=marks.setdefault('ramu','Absent')
print(f'final marks list:{marks}')

ramesh marks:40
add ganesh marks:{'ramesh': 40, 'suresh': 60, 'sathish': 50, 'ganesh': 75}
kirans marks(default none):add_marks
final marks list:{'ramesh': 40, 'suresh': 60, 'sathish': 50, 'ganesh': 75, 'kiran': None, 'ramu': 'Absent'}

- **set default** in dictionary ,simmilar analogy **list append**
- always remember dictionary is a key:value pair concept
- it never involves index operations
- thats why  we dont have any index or find methods
- we have get method to extract values using key

**update**

- update is simmilar analogy list extend
- take two dictionarys and apply update method

In [76]:
#update
marks={'ramesh':40, 'suresh':60, 'sathish':50}
new_marks={'ramesh':80,'sathish':70}
marks.update(new_marks)
print(f'updated new marks :{marks}')
marks.update(ravi=90,ganesh=70)
print(f'dictionary after adding new key-value pairs:{marks}')
marks.update([('depu',82),('teja',92)])
print(f'dictionary after updating with list of tuples:{marks}')

updated new marks :{'ramesh': 80, 'suresh': 60, 'sathish': 70}
dictionary after adding new key-value pairs:{'ramesh': 80, 'suresh': 60, 'sathish': 70, 'ravi': 90, 'ganesh': 70}
dictionary after updating with list of tuples:{'ramesh': 80, 'suresh': 60, 'sathish': 70, 'ravi': 90, 'ganesh': 70, 'depu': 82, 'teja': 92}

**extend-list**

- update in dictionary ,simillar anaolgy **list extend**

In [39]:
marks=['ramesh', 'suresh', 'sathish']
new_marks=['80','70','80']
marks.extend(new_marks)
marks

['ramesh', 'suresh', 'sathish', '80', '70', '80']

**keys**

In [9]:
marks={'ramesh':40, 'suresh':60, 'sathish':50}
keys=d.keys()
keys

dict_keys(['ramesh', 'suresh', 'sathish'])

In [10]:
type(keys)

dict_keys

In [11]:
keys.count('ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

**Convert dictionary to list**
- in order to convert dictionary to list
- first we need to seperate keys and values
- then apply list type casting

In [12]:
marks={'ramesh':40, 'suresh':60, 'sathish':50}
keys=d.keys()
keys_list=list(keys)
keys_list

['ramesh', 'suresh', 'sathish']

In [18]:
keys_list.count('ramesh')

0

In [13]:
marks={'ramesh':40, 'suresh':60, 'sathish':50}
values=d.values()
keys_list=list(values)
keys_list

[40, 60, 50]

- list has count,string has count and tuple also has count
- but dict does not have **count**
- because dict does not allow **duplicate**
- strings has find but list does not have

In [ ]:
list==string---> using join
string==list---> using split
list ==dict----> using zip
dict===list----> using typecasting

In [14]:
marks={'ramesh':40, 'suresh':60, 'sathish':50}
items=d.items()
keys_list=list(items)
keys_list

[('ramesh', 40), ('suresh', 60), ('sathish', 50)]

In [15]:
type(keys_list),type(keys)

(list, dict_keys)

In [16]:
keys_list.count('ramesh')

0

In [17]:
keys_list.count('sathish')

0

In [ ]:
d={}
d['ramesh']=20
d['suresh']=30
d['sathish']=40
#d[key]=value
#d[i]=j

In [ ]:

names=['ramesh','suresh','sathish']#i
age=[20,25,30]#j   
dict={}
{i:j for i,j in zip(names,age)}

In [24]:
# input='virat.kohili@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
# output={'firstname':['virat','rohit','ms'],
#         'secondname':['kohil','sharma','dhoni'],
#          'cname':['rcb','mi','csk']}
input='virat.kohili@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
semi_coln=input.split(';')
fname=[]
sname=[]
cname=[]
d={}
for i in semi_coln:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dot+1)
    at_the_rate=i.index('@')
    fname.append(i[:first_dot])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])
d['Fname']=fname
d['Sname']=sname
d['Cname']=cname
d

{'Fname': ['virat', 'rohit', 'ms'],
 'Sname': ['kohili', 'sharma', 'dhoni'],
 'Cname': ['rcb', 'mi', 'csk']}

In [25]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']